<!doctype html>
<html lang="fr">

<head>

{% block head %}

    <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost() ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <link rel="amphtml" href="{{ app.request.getSchemeAndHttpHost() ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) ~ '/amp/' }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ include("@Shop/Default/meta_tags.html.twig") }}
    {{ include("@Shop/Default/assets_head.html.twig") }}

{% endblock %}

</head>

<body>

{% block header %} 
    {{ include("@Shop/Default/nav_bar.html.twig") }}
{% endblock %}

{% block body %} {% endblock %}

<footer>
    {% block footer %}
        {{ include("@Shop/Default/footer.html.twig") }}
    {% endblock %}
</footer>

{{ include("@Shop/Default/assets_bottom.html.twig") }}

</body>

</html>
