        <!-- Best sales -->
        <div class="work-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 work-title wow fadeIn">
                        <h2>Nos meilleures ventes</h2>
                    </div>
                </div>
                {% for i in 0..(seriesProducts - 1) %}
                <div class="row">
                    {% for j in 0..(productsBySerie - 1) %}
                        {% set product = attribute(products, i * productsBySerie + j) %}
                        {% if product is not empty %}
                    <div class="col-sm-3">
                        <div class="wow fadeInUp">
                            <div class="work-style">
                            <div class="work">
                            {% set display = 1 %}
                            {% if product.images is not empty %}
                                {% for image in product.images %}
                                <a class="view-work" href="{{ asset('images/fers-a-cheveux/' ~ image.imageMedium) }}" data-at2x="{{ asset('images/fers-a-cheveux/' ~ image.imageBig) }}" {% if display == 0 %} style="display: none;" {% else %} {% set display = 0 %} {% endif %}>
                                    <img src="{{ asset('images/fers-a-cheveux/' ~ image.imageSmall) }}" alt="{{ image.legend }}">
                                </a>
                                {% endfor %}
                            {% endif %}
                                <h3>{{ product.name }} {{ product.promo }}</h3>
                                <p>{{ product.discountedPrice }} € (EUR) <strike>{{ product.price }}</strike></p>
                            </div>
                            <div>
                                <a class="big-link-1" href="{{ path('shop_site_product', {'product_qname': product.qName}) }}">Acheter maintenant</a>
                            </div>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
