{% extends "@Shop/Default/standard.html.twig" %}

{% block startdoc %}
    {{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
        <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <h1>Contactez-nous /</h1>
                        <p>Voici les informations qui pourront vous permettre de nous contacter.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us-container">
            <div class="container">
	        <div class="row">
	            <div class="col-sm-7 contact-form wow fadeInLeft">
	                <p>
                            Nous contacter par formulaire :
	                </p>
	                <form role="form" action="assets/contact.php" method="post">
	                    <div class="form-group">
	                         <label for="contact-name">Nom et prénom</label>
	                         <input type="text" name="name" placeholder="Entrez votre nom ..." class="contact-name" id="contact-name">
	                    </div>
	                    <div class="form-group">
	                         <label for="contact-email">Email</label>
	                         <input type="text" name="email" placeholder="Entrez votre email..." class="contact-email" id="contact-email">
	                    </div>
	                    <div class="form-group">
	                         <label for="contact-subject">Objet</label>
	                         <input type="text" name="subject" placeholder="Sujet ..." class="contact-subject" id="contact-subject">
	                    </div>
	                    <div class="form-group">
	                         <label for="contact-message">Message</label>
	                         <textarea name="message" placeholder="Votre demande ..." class="contact-message" id="contact-message"></textarea>
	                    </div>
	                    <button type="submit" class="btn">Envoyer</button>
	                </form>
	            </div>
	            <div class="col-sm-5 contact-address wow fadeInUp">
	                <h3>Nous sommes ici</h3>
                        <iframe
                            width="100%"
                            height="350"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDhjuuKGtHJvmOzQafIOaDXioHSDvZ3KAc
                                &q=14+Cours+du+Danube+77700+Serris+France" allowfullscreen>
                        </iframe>
                        <h3>Adresse</h3>
                        <p>Jose Eber France</p>
                        <p>14 Cours du Danube</p>
                        <p>77700 Serris, France</p>
                    </div>
                </div>
	    </div>
        </div>

        {{ include("@Shop/Default/slider.html.twig") }} 

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block enddoc %}
    {{ parent() }}
{% endblock %}
