        <!-- Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <h4>A propos</h4>
                        <div class="footer-box-text">
                                <p>
                                    ShopName est le visagiste le plus connu aux Etats-Unis, basé à Beverly Hills, il a coiffé les stars d'Hollywood depuis 30 ans. 
                                </p>
                                <p>
                                    Il introduit sur le marché la collection d'outils de coiffure de <strong>qualité professionnelle</strong>.
                                </p>
                                <p><a href="{{ path('shop_site_about') }}">Lire la suite ...</a></p>
                        </div>
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
                        <h4>Nos services</h4>
                        <div class="footer-box-text footer-box-text-subscribe">
                                <p><strong>Livraison gratuite</strong> en France et <strong>garantie à vie</strong></p>
                                <p><a href="{{ path('shop_site_warant') }}">Lire la suite ...</a></p>
                                <p>Et des conseils professionnels sur l'utilisation de nos fers à cheveux</p>
                                <p><a href="{{ path('shop_site_other1') }}">Lire la suite ...</a></p>
                        </div>
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <h4>Nos produits</h4>
                        <div class="footer-box-text footer-box-text-subscribe">
                                <p><a href="{{ path('shop_site_gallery') }}">Tous nos produits de coiffure</a></p>
                                <p><a href="{{ path('shop_site_gallery') }}">Nos fers à lisser</a></p>
                                <p><a href="{{ path('shop_site_gallery') }}">Nos fers à boucler</a></p>
                                <p><a href="{{ path('shop_site_gallery') }}">Nos sèches cheveux</a></p>
                                <p><a href="{{ path('shop_site_gallery') }}">Nos packs coiffure</a></p>
                        </div>
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
                        <h4>Contactez-nous</h4>
                        <div class="footer-box-text footer-box-text-contact" itemscope itemtype="http://schema.org/Organization">
                            <p><strong><span itemprop="name">Jose Eber France</span></strong></p>
                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <p><span itemprop="streetAddress">14 Cours du Danube</span></p>
                                <p><span itemprop="postalCode">77700</span> <span itemprop="addressLocality">Serris, France</span></p>
                                <p><a href="{{ path('shop_site_contact') }}">Plus d'informations ...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-12 wow fadeIn">
                                <div class="footer-border"></div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 footer-copyright wow fadeIn">
                        <p>Copyright 2017 - ShopName</p>
                    </div>
                    <div class="col-sm-5 footer-social wow fadeIn">
                        <a href="https://www.facebook.com/shopname/"><img src="{{ asset('images/facebook.png') }}"></a>
                        <a href="https://twitter.com/shopname"><img src="{{ asset('images/twitter.png') }}"></a>
                        <a href="https://www.instagram.com/shopname/"><img src="{{ asset('images/instagram.png') }}"></a>
                        <a href="https://fr.pinterest.com/shopname/"><img src="{{ asset('images/pinterest.png') }}"></a>
                    </div>
                </div>
            </div>
