{% extends "@Shop/Default/standard.html.twig" %}

{% block startdoc %}
    {{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

        <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-user"></i>
                        <h1>Vidéos /</h1>
                        <p>Conseils professionnels de coiffure en vidéos</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Vidéos -->
        <div class="team-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 team-title wow fadeIn">
                        <h2>Vidéos professionnels de coiffure</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/xZlEqheRhjY?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber Hair Brush</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/YXMKA636nEk?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber Worlds Fastest Flat Iron</h3>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_mSvBFd2TVQ?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber Wet or Dry Styling Iron</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/YO12QyDGtHs?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber Trio 3-in-1 Curling Iron</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/N3-QeI5DnNc?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber Therapy RX Moisture Booting Tool</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/XUSo53_31rI?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber Infrared Blow Dryer</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/p-J6P87qw9Q?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber 100% Ceramic Flat Iron 1.25"</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WMPHK-yFhc0?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber 25mm Clipless Curling Iron</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/gPTcC24Lu_c?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber 19mm Clipless Curling Iron</h3>
                        </div>
                    </div
                    <div class="col-sm-6">
                        <div class="team-box wow fadeInUp">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/DL6B3aIO360?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0" allowfullscreen></iframe>
                            <h3>Jose Eber 32mm Clipless Curling Iron</h3>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block enddoc %}
    {{ parent() }}
{% endblock %}
