{% extends "@Shop/Default/base.html.twig" %}

{% block head %}

    {{ parent() }}

        <title>Shopname - {{ currentCategory.name }} </title>

{% endblock %}

{% block header %}

    {{ parent() }}

{% endblock %}

{% block body %}

    {{ parent() }}

{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}
